<div class="container my-10 flex flex-col min-w-0 break-words w-full shadow-lg rounded-lg bg-blueGray-100 border-0"
*ngIf="!band.hiddenForm">
    <div class="rounded-t bg-white mb-0 px-6 py-6">
        <div class="text-center flex justify-between">
            <h6 class="text-blueGray-700 text-xl font-bold">Nuevo movimiento</h6>
        </div>
    </div> 
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <form [formGroup]="movementForm" autocomplete="off">

            <app-pimp-xml-data 
            *ngIf="band.typeRegister === 'xml'"
            [setXmlData]="movementForm.value">
            </app-pimp-xml-data>

            <div class="flex flex-wrap mt-5" *ngIf="band.typeRegister === 'manual'">
                <div class="w-full lg:w-6/12 pr-4 mb-2">
                    <h5 class="text-blueGray-400 uppercase font-bold text-xs required">
                        Empresa
                    </h5>
                    <ng-select
                        [items]="catalogs.enterprises"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        bindLabel="name"
                        name="fEnterprise"
                        placeholder="Selecciona una empresa"
                        notFoundText="No se encontraron empresas."
                        formControlName="enterprise"
                        class="border-0 bg-white rounded shadow mt-1"
                        autocomplete="false"
                            >
                    </ng-select>

                    <div *ngIf="movementForm.controls['enterprise'].invalid && (movementForm.controls['enterprise'].dirty || movementForm.controls['enterprise'].touched) || band.submit">
                        <span class="text-sm text-red-500 mt-1" *ngIf="movementForm.controls['enterprise'].errors?.required">La empresa es requerida</span>
                    </div>
                </div>
            </div>

            <div class="flex flex-wrap">
                <div class="w-full lg:w-6/12 pr-4 mb-2" *ngIf="band.typeRegister === 'manual'">
                    <h5 class="text-blueGray-400 uppercase font-bold text-xs required">
                        Cliente
                    </h5>

                    <div class="flex">
                        <ng-select
                            [items]="catalogs.clients"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            bindLabel="name"
                            name="fclient"
                            placeholder="Selecciona un cliente"
                            notFoundText="No se encontraron clientes."
                            formControlName="client"
                            class="border-0 bg-white rounded shadow mt-1 w-full"
                            autocomplete="false"
                            *ngIf="!band.newClient"
                                >
                        </ng-select>
                        <input #client type="text"
                        class="mt-1 border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        formControlName="client" placeholder="Ej. Hanna Suárez"
                        *ngIf="band.newClient"  />

                        <button class="mt-1 text-blueGray-500 bg-transparent border border-solid border-blueGray-500 hover:bg-blueGray-500 hover:text-black active:bg-blueGray-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 ease-linear transition-all duration-150" type="button" *ngIf="!band.lock" (click)="band.newClient = !band.newClient"><i class="fas" [ngClass]="{ 'fa-times': band.newClient, 'fa-plus': !band.newClient }" ></i></button>
                    </div>

                    <div *ngIf="movementForm.controls['client'].invalid && (movementForm.controls['client'].dirty || movementForm.controls['client'].touched) || band.submit">
                        <span class="text-sm text-red-500 mt-1" *ngIf="movementForm.controls['client'].errors?.required">El cliente es requerido</span>
                    </div>
                </div>
            </div>

            <div class="flex flex-wrap" formGroupName="invoice">
                <div class="w-full lg:w-6/12 pr-4 mb-2" *ngIf="band.typeRegister === 'manual'">
                    <h5 class="text-blueGray-400 uppercase font-bold text-xs required">
                        Fecha de movimiento
                    </h5>
                    <input type="date"
                        class="mt-1 border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        formControlName="invoiceDate" placeholder="Ej. (ISR, IVA, Banco, etc)"  />

                    <div *ngIf="movementForm.controls['invoice'].controls['invoiceDate'].invalid && (movementForm.controls['invoice'].controls['invoiceDate'].dirty || movementForm.controls['invoice'].controls['invoiceDate'].touched) || band.submit">
                        <span class="text-sm text-red-500 mt-1" *ngIf="movementForm.controls['invoice'].controls['invoiceDate'].errors?.required">La fecha de movimiento es requerida </span>
                    </div>
                </div>
                <div class="w-full lg:w-6/12 mb-2" [ngClass]="{'pr-4': band.typeRegister === 'xml'}">
                    <h5 class="text-blueGray-400 uppercase font-bold text-xs required">
                        Tipo de facturación
                    </h5>
                    <ng-select
                        [items]="catalogs.billingTypes"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        bindLabel="name"
                        bindValue="name" 
                        name="fbillingType"
                        placeholder="Selecciona un tipo de facturación"
                        notFoundText="No se encontraron tipos de facturación."
                        formControlName="typeInvoice"
                        class="border-0 bg-white rounded shadow mt-1"
                        autocomplete="false"
                            >
                    </ng-select>

                    <div *ngIf="movementForm.controls['invoice'].controls['typeInvoice'].invalid && (movementForm.controls['invoice'].controls['typeInvoice'].dirty || movementForm.controls['invoice'].controls['typeInvoice'].touched) || band.submit">
                        <span class="text-sm text-red-500 mt-1" *ngIf="movementForm.controls['invoice'].controls['typeInvoice'].errors?.required">El tipo de facturación es requerido</span>
                    </div>
                </div>
                <div class="w-full lg:w-6/12 pr-4 mb-2">
                    <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                        Nombre del movimiento
                    </h5>
                    <input #username type="text"
                        class="mt-1 border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        formControlName="nameMovement" placeholder="Ej. (ISR, IVA, Banco, etc)"  />

                    <div *ngIf="movementForm.controls['invoice'].controls['nameMovement'].invalid && (movementForm.controls['invoice'].controls['nameMovement'].dirty || movementForm.controls['invoice'].controls['nameMovement'].touched) || band.submit">
                        <span class="text-sm text-red-500 mt-1" *ngIf="movementForm.controls['invoice'].controls['nameMovement'].errors?.required">El movimiento es requerido</span>
                    </div>
                </div>
            </div>

            <div class="flex flex-wrap" *ngIf="band.typeRegister === 'manual'">
                <div class="w-full lg:w-6/12 pr-4 mb-2">
                    <h5 class="text-blueGray-400 uppercase font-bold text-xs required">
                        Tipo de comprobante
                    </h5>
                    <ng-select
                        [items]="catalogs.typeReceipts"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        bindLabel="name"
                        bindValue="name" 
                        name="fbillingType"
                        placeholder="Selecciona un tipo de comprobante"
                        notFoundText="No se encontraron tipos de comprobantes."
                        formControlName="typeReceipt"
                        class="border-0 bg-white rounded shadow mt-1"
                        autocomplete="false"
                            >
                    </ng-select>

                    <div *ngIf="movementForm.controls['typeReceipt'].invalid && (movementForm.controls['typeReceipt'].dirty || movementForm.controls['typeReceipt'].touched) || band.submit">
                        <span class="text-sm text-red-500 mt-1" *ngIf="movementForm.controls['typeReceipt'].errors?.required">El tipo de comprobante es requerido</span>
                    </div>
                </div>
                <div class="w-full lg:w-6/12 pr-4 mb-2">
                    <h5 class="text-blueGray-400 uppercase font-bold text-xs required">
                        Tipo de método de pago
                    </h5>
                    <ng-select
                        [items]="catalogs.paymentMethods"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        bindLabel="name"
                        bindValue="name" 
                        name="fbillingType"
                        placeholder="Selecciona un tipo de métodos de pago"
                        notFoundText="No se encontraron tipos de métodos de pago."
                        formControlName="paymentMethod"
                        class="border-0 bg-white rounded shadow mt-1"
                        autocomplete="false"
                        (change)="SendPaymentMethod()"
                            >
                    </ng-select>

                    <div *ngIf="movementForm.controls['paymentMethod'].invalid && (movementForm.controls['paymentMethod'].dirty || movementForm.controls['paymentMethod'].touched) || band.submit">
                        <span class="text-sm text-red-500 mt-1" *ngIf="movementForm.controls['paymentMethod'].errors?.required">El tipo de método de pago es requerido</span>
                    </div>
                </div>
            </div>

            <div class="flex flex-wrap" *ngIf="band.typeRegister === 'manual'">
                <div class="w-full lg:w-6/12 pr-4 mb-2">
                    <h5 class="text-blueGray-400 uppercase font-bold text-xs required">
                        Total
                    </h5>
                    <input type="text"
                        class="mt-1 border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        formControlName="total" placeholder="Ej. $100.00"  />

                    <div *ngIf="movementForm.controls['total'].invalid && (movementForm.controls['total'].dirty || movementForm.controls['total'].touched) || band.submit">
                        <span class="text-sm text-red-500 mt-1" *ngIf="movementForm.controls['total'].errors?.required">El total es requerido</span>
                    </div>
                </div>
            </div>

            <app-upload-documents
            [paymentMethod]="movementForm.value.paymentMethod"
            [changePaymentMethod]="changePaymentMethod"
            [setUrlFile]="setUrlFile"
            [setPartialXML]="setPartialXML"
            (sendFiles)="SetFiles($event)"
            (sendDeleteFile)="DeleteFile($event)"
            (setUrlFile)="SendUrlFile($event)">
            </app-upload-documents>

            <hr class="mt-6 border-b-1 border-blueGray-300">
            <div class="flex justify-end mt-10">
                <button class="text-blueGray-500 bg-transparent border border-solid border-blueGray-500 hover:bg-blueGray-500 hover:text-white active:bg-blueGray-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button"
                routerLink="/app/archive">
                    <i class="fas fa-arrow-left"></i> Regresar
                </button>
                <button type="button" (click)="SaveMovement()" class="bg-emerald-500 text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 ml-5">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>

<app-modal-type-movement #modalChooseType (sendXMLData)="SetXMLData($event)"></app-modal-type-movement>
