<h6 class="text-blueGray-400 text-sm mt-5 mb-3 font-bold uppercase">
    Datos de la empresa
</h6>
<div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 mb-2">
        <h5 class="text-blueGray-400 uppercase font-bold text-xs">
            Nombre
        </h5>
        <span class="font-semibold text-md text-blueGray-700">
            {{ _setXmlData.enterprise.name || "-" }}
        </span>
    </div>
    <div class="w-full lg:w-6/12 mb-2">
        <h5 class="text-blueGray-400 uppercase font-bold text-xs">
            RFC
        </h5>
        <span class="font-semibold text-md text-blueGray-700">
            {{ _setXmlData.enterprise.rfc || "-" }}
        </span>
    </div>
</div>

<h6 class="text-blueGray-400 text-sm mt-2 mb-3 font-bold uppercase">
    Datos del cliente
</h6>
<div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 mb-2">
        <h5 class="text-blueGray-400 uppercase font-bold text-xs">
            Nombre
        </h5>
        <span class="font-semibold text-md text-blueGray-700">
            {{ _setXmlData.client.name || "-" }}
        </span>
    </div>
    <div class="w-full lg:w-6/12 mb-2">
        <h5 class="text-blueGray-400 uppercase font-bold text-xs">
            RFC
        </h5>
        <span class="font-semibold text-md text-blueGray-700">
            {{ _setXmlData.client.rfc || "-" }}
        </span>
    </div>
</div>

<h6 class="text-blueGray-400 text-sm mt-2 mb-3 font-bold uppercase">
    Facturación
</h6>
<div class="flex flex-wrap mb-5">
    <div class="w-full lg:w-6/12 mb-2">
        <h5 class="text-blueGray-400 uppercase font-bold text-xs">
            Tipo de comprobante
        </h5>
        <span class="font-semibold text-md text-blueGray-700">
            {{ _setXmlData.typeReceipt || "-" }}
        </span>
    </div>
    <div class="w-full lg:w-6/12 mb-2">
        <h5 class="text-blueGray-400 uppercase font-bold text-xs">
            Tipo
        </h5>
        <span class="font-semibold text-md text-blueGray-700">
            {{ _setXmlData.paymentMethod || "-" }}
        </span>
    </div>
    <div class="w-full lg:w-6/12 mb-2">
        <h5 class="text-blueGray-400 uppercase font-bold text-xs">
            Total
        </h5>
        <span class="font-semibold text-md text-blueGray-700">
            ${{ (_setXmlData.total | number:'1.0-0') || "0" }}
        </span>
    </div>
    <div class="w-full lg:w-6/12 mb-2">
        <h5 class="text-blueGray-400 uppercase font-bold text-xs">
            Fecha facturación
        </h5>
        <span class="font-semibold text-md text-blueGray-700">
            {{ (_setXmlData.invoice.invoiceDate | date: 'dd/MM/yyyy') || "-" }}
        </span>
    </div>
</div>
