<app-filters *ngIf="band.showFilters" (sendDataFilters)="SetDataFilters($event)"></app-filters>

<div class="flex items-center justify-between mt-5">
    <h3 class="font-bold mt-5 mb-2">
        Usuarios <span *ngIf="!band.counting">({{ total | number:'1.0-0' }})</span>
        <b *ngIf="band.counting">
            (<span style="font-size: 13px;" class="text-secondary"> Calculando...</span>)
        </b>
    </h3>
    <div class="flex justify-between">
        <button class="p-2 px-3 rounded-md btnFilter" (click)="band.showFilters=!band.showFilters">
            <i class="fa fa-filter"></i>
        </button>
        <button class="p-2 px-3 rounded-md btnFilter" routerLink="/app/users/new">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>

<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white">
    <div class="block w-full overflow-x-auto">
        <table class="items-center w-full bg-transparent border-collapse">
            <thead>
                <tr>
                    <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                        #
                    </th>
                    <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                        Nombre
                    </th>
                    <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                        Usuario
                    </th>
                    <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                        Estatus
                    </th>
                    <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold bg-blueGray-50 text-blueGray-500 border-blueGray-100 text-center">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let item of users | paginate: {itemsPerPage: 10, currentPage: params?.pagination.page, totalItems: total}; index as i;">
                    <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
                        {{i+1}}
                    </th>
                    <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        {{ item?.fullname || '-'}}
                    </td>
                    <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        <span>{{ item?.username || '-'}}</span>
                    </td>
                    <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        <i class="fas fa-circle mr-2" [ngClass]="{'text-green-500': item.active, 'text-red-500': !item.active}"></i> {{ (item.active) ? "Activo" : "No activo" }}
                    </td>
                    <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center">
                        <app-dropdown-table></app-dropdown-table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="w-full mt-10 flex items-center justify-center" *ngIf="total > 0">
    <pagination-controls
        (pageChange)="GetData($event)"
        previousLabel="Anterior"
        nextLabel="Siguiente">
    </pagination-controls>
</div>