/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body {
    min-height: 100%;
    height: 100vh;
}

.btnFilter:hover {
    background-color: #dbe2e9;
}

@layer utilities {
    .bg-zinc-50 {
        background-color: #f4f4f5 !important;
    }

    .form-control {
        border: 1px solid #e3e3e3 !important;
        color: #495057;
        line-height: 1.5;
        transition: #e3e3e3 .15s ease-in-out, rgba(0, 123, 255, .25) .15s ease-in-out;
    }

    .form-control:focus {
        border-color: #aaa !important;
    }

    .required:after {
        content: " *";
        color: rgba(239, 68, 68, 1);
    }

    .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
        top: calc(50% - 9px);
    }

    .ng-select.ng-select-single .ng-select-container {
        height: calc(1.5em + .75rem + 2px);
        font-size: 0.8rem !important;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        padding-top: 1.45rem;
        padding-bottom: 1.45rem;
        border: none;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
        white-space: normal !important;
    }
    
    .ng-select.ng-select-multiple .ng-select-container .ng-value-container  {
        padding-top: 0px !important;
    }
    
    .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
        margin-bottom: 0px !important;
    }
    
    .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
        background-color: #ff196a !important;
        color: #fff !important;
    }
      
    .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
        background-color: #ff196a !important;
        color: #fff !important;
        padding: 1px;
        font-size: 0.8rem !important;
        margin: 1px !important;
    }
    
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-option-label {
        white-space: pre-wrap;
        font-size: 0.8rem !important;
    }
    
    .ng-select.ng-select-disabled>.ng-select-container {
        background-color: #f9f9f9 !important;
    }
      
    .ngx-pagination .current, .btn-info {
       background: #0084C7 !important;
    }
}

